/*FONDO CONTACTO*/
#fondo2 {
    display: flex;
    padding: 5rem;
    background-image: url(img/fondo2.png);
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
}